{% extends 'base.html.twig' %}

{% block title %}Edit Ressource{% endblock %}

{% block body %}
    <h1>Edit Ressource</h1>

    {{ include('admin_ressource/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ressource_index') }}">Retour</a>

{% endblock %}
