<section>
    <h2>LES ACTUALITÉS - SANTÉ, SPORT, NUTRITION</h2>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/350x462" alt="Card image cap">
            <div class="card-body position-relative">
                <div class="position-absolute card-theme">
                    <span class="badge  badge-primary">Nutrition</span>
                </div>
                <h5 class="card-title">LE JEÛNE INTERMITTENT</h5>
                <p class="card-text">Post emensos insuperabilis expeditionis eventus languentibus partium animis, quas
                    periculorum varietas fregerat et laborum, nondum tubarum cessante clangore vel milite locat</p>
                <svg class="bi bi-calendar3" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                    <path fill-rule="evenodd"
                          d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg>
                <p>23/06/2019</p>
            </div>
        </div>
</section>