<section>
    <div class="card-deck justify-content-center mb-2">
        <div class=" card-activity mt-2">
            <img class="card-img-top card-img-top-activity"
                 src="https://media.gettyimages.com/photos/close-up-of-meditation-in-park-at-sunrise-picture-id1039533792?s=612x612"
                 alt="Card image cap">
            <div class="d-flex flex-column justify-content-center align-items-center ">
                <div class="badge-activity d-flex justify-content-center align-items-center">

                </div>
                <h2 class="card-title text-primary text-center mt-2">CARD TITLE</h2>
                <p class="card-text card-text-activity text-center">Some quick example text to build on the card title
                    and make up the bulk of the card's content.
                    Some quick example text to bu</p>
                <div class="text-center m-1">
                    <a href="#" class="btn btn-light border-primary text-primary">ME CONTACTER</a>
                </div>
            </div>
        </div>
    </div>
</section>
