<section>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://pixlr.com/photo/image-editing-20200512-pw.jpg" alt="Card image cap">
        <div class="card-body position-relative">
            <div class="badge badge-activity position-absolute card-theme-activity text-center align-items-center rounded-0 ">test
            </div>
            <h2 class="card-title text-primary text-center">Card title</h2>
            <p class="card-text card-text-activity text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="text-center">
            <a href="#" class="btn btn btn-light border-primary text-primary">ME CONTACTER</a>
            </div>
        </div>
    </div>

</section>
