
<section id="before_after">
    <!-- Titre de section -->
    <div class="pt-2">
        <h2 class="text-light w-100 text-center">ILS ONT <b>RÉUSSI</b> !</h2>
    </div>
    <!-- Carousel -->
    <div id="carouselExampleControls" class="w-100 carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="col-12 carousel-item active">
                <div class="col-12 picture_duo row py-1 px-5">
                    <div class=" col-md-4 col-sm-8 offset-sm-0 p-2 pb-sm-5">
                        <div class="pt-md-5 pt-sm-3 position-relative col-md-6 offset-md-3 offset-sm-1">
                            <div class="first_image position-relative polaroid col-sm-10 col-md-12 bg-light p-md-3 p-sm-0 m-sm-5 mx-md-1 pt-2">
                                <div class="pola_img w-100 m-sm-1 m-md-auto overflow-hidden">
                                    <img class="w-100" src="uploads/1-1.jpg" alt="Jennifer">
                                </div>
                                <div class="pola_label text-center text-primary">Jennifer</div>
                            </div>
                            <div class="second_image position-absolute polaroid col-sm-10 col-md-12 bg-light p-md-3 p-2 bg-light">
                                <div class="pola_img w-100 m-auto">
                                    <img class="w-100" src="uploads/1-2.jpg" alt="-25kg">
                                </div>
                                <div class="pola_label text-center text-secondary">-25 Kg</div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-4 col-sm-8 offset-md-2 p-2 pb-sm-5">
                        <div class="pt-md-5 pt-sm-3 position-relative col-md-6 col-sm-8 offset-md-3 offset-md-0">
                            <div class="first_image position-relative polaroid col bg-light p-md-3 p-sm-1 pt-2 mt-sm-5 mt-md-1 bg-light">
                                <div class="pola_img col-xs-10 m-xs-0 m-md-0 overflow-hidden">
                                    <img class="w-100" src="uploads/2-1.jpg" alt="Jennifer">
                                </div>
                                <div class="pola_label text-center text-primary">Céline</div>
                            </div>
                            <div class="second_image position-absolute polaroid col bg-light p-md-3 p-sm-1 pt-2 bg-light">
                                <div class="pola_img w-100 m-auto">
                                    <img class="w-100" src="uploads/2-2.jpg" alt="-25kg">
                                </div>
                                <div class="pola_label text-center text-secondary">-15 Kg</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 carousel-item">
                <div class="col-12 picture_duo row py-1 px-5">
                    <div class=" col-md-4 col-sm-8 offset-sm-0 p-2 pb-sm-5">
                        <div class="pt-md-5 pt-sm-3 position-relative col-md-6 offset-md-3 offset-sm-1">
                            <div class="first_image position-relative polaroid col-sm-10 col-md-12 bg-light p-md-3 p-sm-0 m-sm-5 mx-md-1 pt-2">
                                <div class="pola_img w-100 m-sm-1 m-md-auto overflow-hidden">
                                    <img class="w-100" src="uploads/1-1.jpg" alt="Jennifer">
                                </div>
                                <div class="pola_label text-center text-primary">Jennifer</div>
                            </div>
                            <div class="second_image position-absolute polaroid col-sm-10 col-md-12 bg-light p-md-3 p-2 bg-light">
                                <div class="pola_img w-100 m-auto">
                                    <img class="w-100" src="uploads/1-2.jpg" alt="-25kg">
                                </div>
                                <div class="pola_label text-center text-secondary">-25 Kg</div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-4 col-sm-8 offset-md-2 p-2 pb-sm-5">
                        <div class="pt-md-5 pt-sm-3 position-relative col-md-6 col-sm-8 offset-md-3 offset-md-0">
                            <div class="first_image position-relative polaroid col bg-light p-md-3 p-sm-1 pt-2 mt-sm-5 mt-md-1 bg-light">
                                <div class="pola_img col-xs-10 m-xs-0 m-md-0 overflow-hidden">
                                    <img class="w-100" src="uploads/2-1.jpg" alt="Jennifer">
                                </div>
                                <div class="pola_label text-center text-primary">Céline</div>
                            </div>
                            <div class="second_image position-absolute polaroid col bg-light p-md-3 p-sm-1 pt-2 bg-light">
                                <div class="pola_img w-100 m-auto">
                                    <img class="w-100" src="uploads/2-2.jpg" alt="-25kg">
                                </div>
                                <div class="pola_label text-center text-secondary">-15 Kg</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- Les contrôles < & > -->
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="h-25 col-md-3 col-sm-1 carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="h-25 col-md-3 col-sm-1 carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
    </div>
    <!-- Btn lien vers page -->
    <div class="pt-1 text-center w-100">
        <a class="btn btn-light" href="#">VOIR LES TRANSFORMATIONS</a>
    </div>
</section>
