<div class="headband position-relative">
    <div class="container d-flex justify-content-center flex-column">
        <div class="row justify-content-center">
            <div class="col-4 d-flex justify-content-center">
                <img src="{{ asset('build/white_claw.svg') }}">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6">
                <p class="titre_coach text-center text-light">COACH PETER</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-8 d-flex justify-content-center">
                <p class="h2 text-center text-light">COACH SPÉCIALISÉ EN SPORT - NUTRITION - SANTÉ À ORLÉANS</p>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-10 d-flex justify-content-center">
                <a href="{{ path('app_contact') }}" type="button" class="btn btn-outline-light btn-lg">BESOIN D'UN COACHING ?</a>
            </div>
        </div>
    </div>
</div>
