<div class="headband container-fluid d-flex justify-content-center flex-column">
    <div class="row d-flex justify-content-center">
        <img src="{{ asset('build/white_claw.svg') }}">
    </div>

    <div class="row d-flex justify-content-center">
        <h2>COACH PETER</h2>
    </div>

    <div class="row d-flex justify-content-center">
        <h4>SPECIALISE EN SPORT - SANTE - NUTRITION A ORLEANS</h4>
    </div>

    <div class="row d-flex justify-content-center mt-3">
        <div class="col-3 d-flex justify-content-center">
            <button type="button" class="btn btn-outline-light btn-lg">BESOIN D'UN COACHING ?</button>
        </div>
    </div>
</div>
