<header>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active d-flex flex-row">
                    <img src="assets/images/">
                    <a class="nav-link" href="#">50 rue de tudelle, 45100 Orléans</a>
                </li>
                <li class="nav-item active d-flex flex-row">
                    <img src="assets/images/">
                    <a class="nav-link" href="#">06 80 34 17 27</a>
                </li>
            </ul>

            <span class="navbar-text"> <img src="assets" alt="Lien vers page Facebook"></span>
            <span class="navbar-text"> <img src="assets" alt="Lien vers page Instagram"></span>
            <span class="navbar-text"> <img src="assets" alt="Lien vers page de connexion espace membre"></span>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#"><img src="assets/images" alt="logo coach Peter"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarText">
            <ul class="navbar-nav mr-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Qui suis-je</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Transformations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Coaching</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Team training</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</header>
