{% extends 'base.html.twig' %}

{% block title %}Accueil Coach Peter{% endblock %}

<<<<<<< HEAD
{% block body %}

=======
{% block body %}<h1>Coach Peter</h1>
    {% include 'home/_headband.html.twig' %}		
>>>>>>> b6efcbbf401fccbe5682086a2b89acd80324c388
    {% include 'home/_activity.html.twig' %}
    {% include 'home/_about_me.html.twig' %}
    {% include 'home/_before_after.html.twig' %}
    {% include 'home/_actuality.html.twig' %}

{% endblock %}

