{% extends 'base.html.twig' %}

{% block title %}Accueil Coach Peter{% endblock %}

{% block body %}<h1>Coach Peter</h1>
    {% include 'home/_headband.html.twig' %}
    {% include 'home/_activity.html.twig' %}
    {% include 'home/_about_me.html.twig' %}
    {% include 'home/_before_after.html.twig' %}
    {% include 'home/_actuality.html.twig' %}
    {% include 'home/_map.html.twig' %}

{% endblock %}

