{% extends 'base.html.twig' %}

{% block title %}Accueil Coach Peter{% endblock %}

{% block body %}<h1>Coach Peter</h1>
    {% include 'home/_before_after.html.twig' %}
    {% include 'home/_actuality.html.twig' %}
{% endblock %}

