{% extends 'base.html.twig' %}

{% block title %}Accueil Coach Peter{% endblock %}

{% block body %}
        <div class="backgrounded">
        {% include 'home/_navbar.html.twig' %}
        {% include 'home/_headband.html.twig' %}
        </div>

{% endblock %}
