{% extends 'base_admin.html.twig' %}

{% block title %}Modifier le programme{% endblock %}

{% block body %}
    <h1 class="text-center text-primary my-5">Modifier le programme</h1>

    {{ include('admin_program/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="w-75 m-auto text-left my-4">
        <a class="btn btn-light text-primary border-primary my-4" href="{{ path('program_index') }}">
            <svg class="bi bi-arrow-left-circle-fill" width="24px" height="24px" viewBox="0 0 16 16" fill="currentColor"
                                               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.646 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"/>
        </svg> Retour
        </a>
    </div>
{% endblock %}
