{% extends 'base_user.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <h1 class="text-center text-primary">Bienvenue sur votre espace membre </h1>
<section>

</section>
{% endblock %}

