{% extends 'base_user.html.twig' %}

{% block title %}Tranformations{% endblock %}

{% block body %}
    <h1 class="text-center text-primary">Les transformations de mes coachés</h1>
    <section>
        <div>
            {% for transformation in transformations %}
                <p> {{ transformation.description }}</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}

