{% extends 'base_user.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <h1 class="text-center text-primary">Réinitialiser votre mot de passe</h1>
<div class="text-center">
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary m-4">Réinitialiser</button>
    {{ form_end(resetForm) }}
</div>
{% endblock %}
