
.span-about-me-primary-color {
    color: $primary;
}

.span-about-me-secondary-color {
    color: $secondary;
}

.img-coach-about-me-home {
    object-fit: contain;
    width: 500px;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $secondary;
    transition: width .3s;
}
.nav-link:hover::after {
    width: 100%;
}