$circle: #ffffff;


.card-activity{
    width: 371px;
}

.card-text-activity{
    color: $darkgray;
    font-family: $main-font;
    font-size: $small-font-size;
}

.card-img-top-activity {
    width: 371px;
    height: 280px;
    object-fit: cover;
}

.badge-activity {
    width: 77px;
    height: 77px;
    border-radius:50%;
    border :8px solid $circle ;
    margin-top: -35px;
    background-color: $primary;
}

.card-activity:nth-child(even) .badge-activity {
    background-color: $secondary;
}