
.card-actu {
    width: 350px;
}

.card-actu .badge {
    background-color: $primary;
    color: $light;
    padding-left: 17px;
    padding-top: 11px;
    font-family: $main-font;
    font-size: 15px;
}

.card-actu:nth-child(even) .badge {
    background-color: $secondary;
}

.card-actu-img {
    height: 360px;
    width: 350px;
    object-fit: cover;
}

.card-actu-body {
    background-color: $lightgray;
}

.card-theme {
    margin-left: -20px;
    margin-top: -45px;
}

.badge {
    height: 39px;
    width: 239px;
}

.card-actu-text {
    color: $darkgray;
    font-family: $main-font;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: left;
}

.date-blog {
    color: $darkgray;
    font-size: 13px;
}
