.card-text-activity{
  color: $darkgray;
  font-family: $main-font;
  font-size: $small-font-size;
}

.card-theme-activity {
  margin-left: -20px;
  margin-top: -45px;
}

.badge-activity{
    height: 39px;
    width: 239px;
}