
.card-actu .badge {
    background-color: $primary;
    color: $light;
    padding-left: 17px;
    padding-top: 11px;
    font-family: $main-font;
    font-size: $small-font-size;
}

.card-actu:nth-child(even) .badge {
    background-color: $secondary;
}

.card-actu-img {
    width: 350px;
    height: 260px;
    object-fit: cover;
}

.card-actu-body {
    background-color: $lightgray;
}

.card-theme {
    margin-left: -20px;
    margin-top: -45px;
}

.badge {
    height: 39px;
    width: 239px;
}

.card-actu-text {
    color: $darkgray;
    font-family: $main-font;
    font-size: $small-font-size;
}

.date-actu {
    color: $darkgray;
    font-size: $xtra-small-font-size;
}

.card-title-actu{
    font-family: Qanelas-Bold;
    font-size: $small-font-size;
}
