.card-activity:nth-of-type(odd) {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.card-act-image{
    width: 360px;
}

.activity-cadre {
    z-index: 50;
    top: 0;
    left: 0;
}
.activity-cadre img {
    width: 360px;
}
.image-activity{
}
.badge-coaching{
    width: 77px;
    height: 77px;
    border-radius:50%;
    border :8px solid $circle ;
    margin-top: -35px;
    background-color: $primary;
    z-index: 10;
    left: 25px;
    top: -25px;
}
