.localisation {
    color: $primary;
    left: -30px;
    top: 100px;
}

.map-responsive {
    --map-height:400px;
    height: var(--map-height);
    position:relative;

    .card-adress {
        position: absolute;
        --card-spacing:100px;
        --card-height:calc(var(--map-height) - 100px);
        right:var(--card-spacing);
        top:calc(var(--card-spacing) / 2);
        background-color: $ultra-light;
        width:250px;
        height: calc(var(--map-height) - var(--card-spacing));
        border-radius: 4px;
        box-shadow: 1px 1px 4px $shadow;
    }

    iframe {
        filter: grayscale(90%);
        width: 100%;
        height: 100%;
    }
}
