@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,400&display=swap');

@font-face {
  font-family: Qanelas;
  src: url("../fonts/Police-Qanelas/Regular/Qanelas-Regular.woff2") format("woff2");
}

$primary: #00384f;
$secondary: #85c041;

$lightgray: #dadada;
$darkgray: #6a6b6a;
$pink: #d80b8c;
$gold: #ebd478;
$fushiablue: #06ffff;

$light: #F4F4F4;
$dark: #000307;

$main-font: Qanelas;
$nav-font: Montserrat;
$caption-font: Raleway;
$openSans: 'Open Sans';
