@import "vars";
@import "navbar";
@import "before_after";
@import "actuality";
@import "activity";
@import "map";
@import "~bootstrap/scss/bootstrap";

body {
    width: 100vw;
    overflow-x: hidden;
}

h1 {
    font-size: var(--xlarge-font-size);
    font-family: var(--main-font);
    color: var(--light);
}

h2 {
    font-size: var(--medium-font-size);
    font-family: var(--main-font);
    color: var(--light);
}

section {
    width: 80%;
    margin: 0 auto;
}
