@import "vars";
@import "navbar";
@import "before_after";
@import "actuality";
@import "~bootstrap/scss/bootstrap";

h1 {
    font-size: $xlarge-font-size;
    font-family: $main-font;
    color: $light;
}

h2 {
    font-size: $medium-font-size;
    font-family: $main-font;
    color: $light;
}

section {
    width: 80%;
    margin: 0 auto;
}
