@mixin background-image($img, $background-position, $background-color) {
  background-image: url('#{$img}');
  background-repeat: no-repeat;
  background-position: $background-position;
  background-color: $background-color ;
}

nav {
  @include background-image("../header.jpg", absolute, rgba(0, 56, 79, 0.61));
}

