//variables
$colorHoverHeader: rgba(0, 56, 79, 0.85);
$navbarUnderlineHover: #00ffff;
$navbar-light-brand-color: #FFF;

.top-img {
    width: 100vw;
    height: 689px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/images/header_sportif_lacets.jpg");
}

header .container-banner{
    top:0;
    margin: auto;
}

.navbar {
    border-top: solid 1px $light ;
}

.navbar-collapse {
    z-index: 50;
    top: -20px;
}

.bluehover {
    top: 0;
    left: 0;
    width: 100vw;
    height: 689px;
    background-repeat: no-repeat;
    background-color: $colorHoverHeader;
}

.navbar, .nav-link {
    color: $light;
}

.infoheader img {
    height: 17px;
    width: 17px;
}

.infoheader p {
    font-family: $nav-font;
    font-size: $xtra-small-font-size;
    color: $light;
}

.titre_coach{
    font-weight: 900;
    font-size: 4vmax;
}

.navbar-brand img {
    width: 159px;
}

.nav-item {
    font-family: $nav-font;
}

header {
    .navbar-link:hover {
        color: $light;
    }

    .navbar-focus::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: $navbarUnderlineHover;
    }

    .navbar-link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $navbarUnderlineHover;
        transition: width .3s;
    }

    .navbar-link:hover::after {
        width: 100%;
    }

    .nav a {
        color: $light;
    }
}

@media screen and (max-width: 500px) {

    .navbar-collapse {
        top:50px;
        background-color: $primary-transparent;
    }
}

//navbar Admin
.a-propos:hover{
    text-decoration: none;
}
