$testimony: #444d4f;

.container-fluid:nth-child(even) {
    .transformations {
        flex-direction: row-reverse;
    }
}

.transformations {
    border-bottom: solid 1px $primary;
    padding-bottom: 100px;

    p, span {
        color: $testimony;
    }
}

.before_afterImg {
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
}
