{% block body %}
    <h1 class="text-primary text-center mt-3"></h1>

    {{ include('coaching_category/_form.html.twig') }}
    </div>

    {% include 'coaching_category/index.html.twig' %}
{% endblock %}
