{% extends 'base.html.twig' %}

{% block title %}New Degree{% endblock %}

{% block body %}
    <h1>Create new Degree</h1>

    {{ include('admin_degree/_form.html.twig') }}

    <a href="{{ path('degree_index') }}">back to list</a>
{% endblock %}
