{% extends 'base_user.html.twig' %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12 text-center">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary text-center">Envoyer</button>
    {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}