<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" type="image/svg" href="/build/favicon.svg"/>

        {% block meta %} {% endblock %}
        <title>{% block title %}Coach Peter{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

    {% block navbar %}
    {% endblock %}
    {% block flash %}    {% include '_flash.html.twig' %}
    {% endblock %}
    {% block body %}{% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script>
            $(document).ready(function() {
                // you may need to change this code if you are not using Bootstrap Datepicker
                $('.js-datepicker').datepicker({
                    format: 'dd-mm-yyyy'
                });
            });
        </script>
    {% endblock %}
        <footer>
        {% block footer %}
        {% endblock %}
        </footer>
    </body>
</html>
