{% extends 'base.html.twig' %}

{% block body %}
    {% include '_errorsNavbar.html.twig' %}

    <div class="errorPage container d-flex justify-content-center pb-5">
        <div class="col-10 justify-content-center d-flex flex-column" >
            <h1 class="text-center ">Oops ! Une erreur 404 est survenue...</h1>
            <h3 class="text-center ">
                Il semblerait que la page que vous recherchez ne se trouve pas ici, mais vous pouvez retourner à <a href="{{ path('app_index') }}">l'accueil du site en cliquant là</a>.
            </h3>
        </div>
    </div>
{% endblock %}
