{% extends 'base_admin.html.twig' %}

{% block title %}Edit Attended{% endblock %}

{% block body %}
    <h1 class="text-primary text-center">Edit Attended</h1>

    {{ include('admin_attended/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('attended_index') }}">back to list</a>

{% endblock %}
