{% extends 'base_admin.html.twig' %}

{% block title %}Edition des informations liées au Coach Peter{% endblock %}

{% block body %}
    <h1>Edition des informations liées au Coach Peter</h1>

    {{ include('admin_info_coach/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('info_coach_index') }}">Retour</a>

    {{ include('admin_info_coach/_delete_form.html.twig') }}
{% endblock %}
