{% extends 'base_admin.html.twig' %}

{% block title %}Edition des informations liées au Coach Peter{% endblock %}

{% block body %}
    <h1 class="text-center text-primary">Edition des informations liées au Coach Peter</h1>

    {{ include('admin_info_coach/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a class="btn btn-primary" href="{{ path('info_coach_index') }}">Retour</a>

{% endblock %}
